.wizard {
  padding: 10px 0;
  width: 100%;
  border-radius: 6px;
  color: rgba(0,0,0, 0.87);
  background: #fff;

  min-height: 410px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

  .header {
    text-align: center;
    padding: 25px 0 35px;

    .header-title {
      font-size: 25px;
      font-weight: 700;
    }

    .header-desc {
      margin: 10px 0 0;
      font-size: 17px;
      font-weight: 300;
    }
  }
}
