.room-step .room-header {
  text-align: center;
  font-weight: 300;
  margin: 10px 0 30px;
  font-size: 18px; }

.room-step .list {
  display: flex;
  text-align: center;
  justify-content: center; }
  .room-step .list .item {
    margin: 0 10px; }
    .room-step .list .item .icon {
      text-align: center;
      vertical-align: middle;
      height: 116px;
      width: 116px;
      border-radius: 50%;
      color: #999999;
      margin: 0 auto 20px;
      border: 4px solid #CCCCCC;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      cursor: pointer; }
      .room-step .list .item .icon.active {
        border-color: #f44336;
        color: #f44336; }
      .room-step .list .item .icon:hover {
        border-color: #f44336;
        color: #f44336; }
      .room-step .list .item .icon i {
        font-size: 40px;
        line-height: 111px; }
    .room-step .list .item .title {
      font-weight: 300;
      font-size: 0.9em;
      text-transform: uppercase; }
