.textarea .label {
  color: #AAAAAA;
  font-weight: 400; }

.textarea textarea {
  border: none;
  resize: none;
  outline: none;
  width: 100%;
  border-bottom: 1px solid #757575; }
  .textarea textarea:focus {
    border-bottom: 1px solid #f44336; }
