.account-step .account-title {
  text-align: center;
  font-weight: 300;
  margin: 10px 0 30px;
  font-size: 18px; }

.account-step .account-form {
  display: flex; }
  .account-step .account-form .account-form-group {
    flex: 1;
    margin: 0 35px; }
    .account-step .account-form .account-form-group .input-group {
      display: flex;
      align-items: center;
      margin-bottom: 28px; }
      .account-step .account-form .account-form-group .input-group .material-input {
        width: 100%;
        flex: 1; }
      .account-step .account-form .account-form-group .input-group .material-icons {
        color: #575757; }
    .account-step .account-form .account-form-group .material-select {
      margin-bottom: 28px; }

.subscribe {
  position: absolute;
  left: 20px;
  bottom: -92px; }
