.account-step {
  .account-title {
    text-align: center;
    font-weight: 300;
    margin: 10px 0 30px;
    font-size: 18px;
  }

  .account-form {
    display: flex;
    .account-form-group {
      flex: 1;
      margin: 0 35px;

      .input-group {
        display: flex;
        align-items: center;
        margin-bottom: 28px;

        .material-input {
          width: 100%;
          flex: 1;
        }

        .material-icons {
          color: #575757;
        }
      }

      .material-select {
        margin-bottom: 28px;
      }
    }
  }
}

.subscribe {
  position: absolute;
  left: 20px;
  bottom: -92px;
}
