.extra-step {
  .extra-header {
    text-align: center;
    font-weight: 300;
    margin: 10px 0 30px;
    font-size: 18px;
  }

  .extra-content {
    display: flex;
    padding: 0 50px;

    .textarea {
      flex: 1
    }

    .sample {
      margin-left: 20px;
      width: 200px;
    }
  }

}
