.extra-step .extra-header {
  text-align: center;
  font-weight: 300;
  margin: 10px 0 30px;
  font-size: 18px; }

.extra-step .extra-content {
  display: flex;
  padding: 0 50px; }
  .extra-step .extra-content .textarea {
    flex: 1; }
  .extra-step .extra-content .sample {
    margin-left: 20px;
    width: 200px; }
