.wizard-steps {
  .navigation {
    display: flex;
    background-color: rgba(200, 200, 200, 0.2);
    position: relative;

    .nav-item {
      text-align: center;
      line-height: 18px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      color: #555555;
      padding: 10px 15px;
    }

    .moving-active-tab {
      position: absolute;
      text-align: center;
      padding: 14px 0;
      font-size: 12px;
      text-transform: uppercase;
      -webkit-font-smoothing: subpixel-antialiased;
      background-color: #f44336;
      top: -4px;
      left: 0;
      border-radius: 4px;
      color: #FFFFFF;
      cursor: pointer;
      font-weight: 500;
      box-shadow: 0 16px 26px -10px rgba(244, 67, 54, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244, 67, 54, 0.2);
    }
  }

  .content {
    position: relative;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .footer {
    margin: 5px 20px;
    display: flex;
    justify-content: space-between;

    .btn {
      border: none;
      outline: none;
      min-width: 140px;
      text-align: center;
      padding: 11px 0;
      font-size: 12px;
      text-transform: uppercase;
      -webkit-font-smoothing: subpixel-antialiased;
      top: -4px;
      left: 0;
      border-radius: 4px;
      color: #FFFFFF;
      cursor: pointer;
      font-weight: 500;
    }

    .btn-danger {
      background-color: #f44336;
      box-shadow: 0 16px 26px -10px rgba(244, 67, 54, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244, 67, 54, 0.2);
    }

    .btn-default {
      background-color: #999999;
    }
  }
}
