.checkbox-inline {
  display: flex;
  .checkbox {
    flex: 0 0 20px;
    margin-left: 5px;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0,0,0, .54);
    border-radius: 3px;

    .material-icons {
      font-size: 20px;
      color: #f44336;
    }
  }

  .text {
    margin-left: 5px;
    font-weight: 300;
  }
}
