.material-input input {
  border: none;
  border-bottom: 1px solid;
  border-bottom-color: #757575;
  outline: none;
  transition: border-bottom-color .3s; }
  .material-input input:focus ~ label {
    font-size: 11px; }

.material-input {
  position: relative; }
  .material-input.error label {
    color: #f44336 !important; }
  .material-input input {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid;
    border-bottom-color: #757575;
    outline: none;
    transition: border-bottom-color .3s; }
    .material-input input::-webkit-input-placeholder {
      color: white; }
    .material-input input::-moz-placeholder {
      color: white; }
    .material-input input:-ms-input-placeholder {
      color: white; }
    .material-input input:-moz-placeholder {
      color: white; }
    .material-input input:disabled {
      border-bottom: 1px dotted #757575;
      cursor: not-allowed !important;
      color: #757575; }
      .material-input input:disabled ~ .bar {
        display: none; }
      .material-input input:disabled ~ label {
        color: #757575 !important; }
    .material-input input:focus {
      cursor: text;
      border-bottom-color: #f44336; }
      .material-input input:focus::-webkit-input-placeholder {
        color: "#757575"; }
      .material-input input:focus::-moz-placeholder {
        color: "#757575"; }
      .material-input input:focus:-ms-input-placeholder {
        color: "#757575"; }
      .material-input input:focus:-moz-placeholder {
        color: "#757575"; }
      .material-input input:focus ~ label {
        top: -10px;
        font-size: 11px; }
  .material-input label {
    color: #AAAAAA;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
    .material-input label.has-value {
      top: -10px;
      font-size: 11px; }
