.material-select {
  position: relative;
  width: 100%; }
  .material-select.error label {
    color: #f44336 !important; }
  .material-select select {
    height: 42px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid;
    border-bottom-color: #757575;
    outline: none;
    transition: border-bottom-color .3s; }
    .material-select select:disabled {
      border-bottom: 1px dotted #757575;
      cursor: not-allowed !important;
      color: #757575; }
      .material-select select:disabled ~ .bar {
        display: none; }
      .material-select select:disabled ~ label {
        color: #757575 !important; }
    .material-select select:focus {
      cursor: text;
      border-bottom-color: #f44336; }
      .material-select select:focus ~ label {
        top: -10px;
        font-size: 11px; }
  .material-select label {
    color: #AAAAAA;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
    .material-select label.has-value {
      top: -10px;
      font-size: 11px; }
